body, main {
    height: 100vh;
}

body {
    background-color: #EBDECE;
    background-image: url("../images/bg/bg-contact.jpeg");
    background-size: cover;    
    background-repeat: repeat;
    background-position: center;
}

nav #bt-contact .btn-outline-dark {
    background-color: rgba(117, 70, 9, 0.514);
}

main {
    min-height: 800px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.main-content {
    padding: 10px;
    margin: 0 auto;
    max-width: 70%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px #cccccc98;
}

section {
    max-width: 600px;
    min-width: 20px;
    background-color: transparent;
    padding: 5%;
    border-radius: 1em;
    backdrop-filter: blur(20px);
    border: 1px solid #ebdece38;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);
}

fieldset {
    display: flex;
    flex-direction: column;
}

fieldset label, h1 {
    color: black;
    margin-top: 7px;
}

section h1 {
    text-align: center;
}

fieldset input, textarea {
    border-style: none;
    border-radius: 1em;
    padding: 10px;
    background-color: #2125298e;
    color: white;
}

fieldset input:focus, textarea:focus {
    outline: 1px solid rgba(255, 255, 255, 0.363);
}

fieldset textarea::placeholder {
    color: #ccc;
}

fieldset button {
    margin: 20px auto 0 auto;
    padding: 7px;
    width: 50%;
    border-style: none;
    border-radius: 1em;
}