body{
    background-color: #E5CAA9;
    background-size: cover; 
    background-position: center;   
}

nav #bt-home .btn-outline-dark {
    background-color: rgba(117, 70, 9, 0.514);
}

.textos{
    margin: 0 auto;
}

h1 {
    font-size: 3em;
}

h2, p {
    padding-bottom: 0.5em;
}

h2 {
    font-size: 2.5em;
}

p {
    font-size: 1.1em;
}

main p {
    text-align: justify;
}

.cabecalho p {
    text-align: center;
}

.cabecalho {
    text-align: center;
    max-width: 60%;
    margin: 3% auto;
}

.container div {
    margin: 5% 0;
}
