body {
    height: 100vh;
    background-color: #EBDECE;
    background-image: url("../images/bg/bg-shop.png");
    background-size: cover; 
    background-position: center;   
}

nav #bt-shop .btn-outline-dark {
    background-color: rgba(117, 70, 9, 0.514);
}

section.main-content {
    padding: 10px;
    max-width: 70%;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 10px #cccccc98;
}

.card {
    background-color: transparent;
    transition: all 200ms;
}

main .card {
    height: 10%;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    cursor: pointer;
}

div.row , section.main-content{
    margin: 0 auto;
}

div.titulo-pagina {
    width: 98%;
    padding: 5% 0;
    text-align: center;
}

.descricao-produto {
    overflow-y: scroll;
    max-height: 100px;
}

@media screen and (max-width: 583px) {
    section.main-content {
        max-width: 90%;
    } 
}

@media screen and (min-width: 584px) {
    section.main-content {
        max-width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    button.add-cart {
        line-height: 0;
        max-width: 100%;
    }
    button.add-cart span {
        display: none;
    }
}

@media screen and (min-width: 1700px) {
    button.add-cart {
        max-width: 100%;
    }
    button.add-cart span {
        display: inline;
    }
}