* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    background-color: #EFECE3;
}

section.main-content {
    padding: 10px;
    margin: 0 auto;
    max-width: 70%;
    background-color: white;
    box-shadow: 2px 2px 10px #cccccc98;
}

div.row {
    margin: 0 auto;
}

nav {
    background-color: #EFECE3;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    border-radius: 20px;
}

nav ul {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
    list-style: none;
}

nav li {
    padding: 20px;
}

nav a {
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.banner-content {
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 1em 1em;
    height: 400px;
    width: auto;
}

.banner-content h1 {
    color: white;
    max-width: 90%;
    position: relative;
    left: 1%;
    top: 55%;
    text-align: left;
}

div.titulo-pagina {
    width: 98%;
    padding: 5% 0;
    text-align: center;
}

@media screen and (max-width: 300px) {
    nav ul {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
}

@media screen and (max-width: 583px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    nav img {
        border-radius: 20px;
        width: 150px;
    }

    nav form {
        margin-left: 30px;
        margin-right: 30px;
    }

    div.banner-content {
        background-image: url("/images/banner/banner-mb.jpg");
    }

    .banner-content h1 {
        margin: 0 auto;
        top: 15%;
    }

    section.main-content {
        max-width: 90%;
    }
}

@media screen and (min-width: 584px) {
    div.banner-content {
        background-image: url("/images/banner/banner-tab.jpg");
    }

    section.main-content {
        max-width: 80%;
    }
}

@media screen and (min-width: 920px) {
    div.banner-content {
        background-image: url("/images/banner/banner-web.jpg");
    }
}

@media screen and (min-width: 1200px) {
    button.add-cart {
        line-height: 0;
        max-width: 100%;
    }
    button.add-cart span {
        display: none;
    }
}

@media screen and (min-width: 1700px) {
    button.add-cart {
        max-width: 100%;
    }
    button.add-cart span {
        display: inline;
    }
}


