nav {
    margin: 0 auto;
    padding: 15px 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #ebdecede;
    box-shadow: 0 1px 5px #cccccca8;
}

nav img {
    border-radius: 20px;
}

nav ul {
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
    list-style: none;
}

nav li {
    padding: 30px 10px;
    transition: all 200ms;
}

nav .btn-outline-dark, .btn-outline-dark:hover {
    border-color: rgb(121, 99, 71);
}

nav .btn-outline-dark {
    color: #371A09;
}

nav .btn-outline-dark:hover {
    background-color: rgba(117, 70, 9, 0.514);
    color: black;
}

nav ul li:hover {
    padding: 30px;
    transform: scale(1.1);
}

form span {
    cursor: pointer;
}

@media screen and (max-width: 300px) {
    nav ul {
        flex-direction: column;
        padding: 10px;
        align-items: center;
    }
}

@media screen and (max-width: 583px) {
    nav {
        flex-direction: column;
        padding: 10px;
    }

    nav img {
        border-radius: 20px;
        width: 150px;
    }

    nav form {
        margin-left: 30px;
        margin-right: 30px;
    }
}